@using PagedList.Mvc

@model PagedList.IPagedList<PhotoLife.ViewModels.News.ShortNewsViewModel>

@{
    ViewBag.Title = "All News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="list" class="container">
    @Html.Partial("_NewsListPartial", Model)

    <div class="pages total">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("All", "Post",
        new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "list",
                InsertionMode = InsertionMode.Replace
            }))
    </div>
</div>
