@using PagedList.Mvc
@model PagedList.IPagedList<PhotoLife.ViewModels.Post.ShortPostViewModel>

@{
    ViewBag.Title = "All Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="list">
    @Html.Partial("_PostListPartial", Model)

    <div class="row pages total">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("All", "Post",
        new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new AjaxOptions()
            {
                HttpMethod = "GET",
                UpdateTargetId = "list",
                InsertionMode = InsertionMode.Replace
            }))
    </div>
</div>
