body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  color: #000000;
}
.container-fluid {
  margin: 0px;
  padding: 0px;
}
.home-page {
  background-color: rgba(0, 0, 0, 0);
}
.top-news {
  background-color: rgba(33, 33, 33, 0.1);
  padding-top: 5px;
  border: 1px solid #ffffff;
  margin: 0px;
}
.top-posts {
  background-color: rgba(33, 33, 33, 0.1);
  padding-top: 5px;
  border: 1px solid #ffffff;
  margin: 0px;
}
.title {
  font-family: 'Adobe Caslon Pro';
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 0px;
  padding-right: 0px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.business-header {
  height: 400px;
  background: url('http://res.cloudinary.com/djga3zgwr/image/upload/v1489076469/logo_jf9gqr.png') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* Customize the text color and shadow color and to optimize text legibility. */
.tagline {
  text-shadow: 0 0 10px #000;
  color: #fff;
}
.img-center {
  margin: 0 auto;
}
.post-short-pic {
  width: 70vw;
  height: auto;
  max-height: 70vh;
  max-width: 70vw;
  margin: 5px;
  margin-bottom: 15px;
}
#rating-button {
  font-size: 24px;
}